<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,540}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>Cow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{540,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,540}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>Cow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{540,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,540}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>Cow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,544},{540,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,540}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cow.png</string>
            <key>size</key>
            <string>{1086,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a74abce4e238910432c9adc53dacce72:60a1377edca477b3e6f3719b2e497d7e:9fcb978bd79c4c01872605804e96279d$</string>
            <key>textureFileName</key>
            <string>cow.png</string>
        </dict>
    </dict>
</plist>
